.container {
  background: var(--primary-colour);
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  padding: 0 4em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 1em;
    justify-content: flex-start;
  }

  .ul {
    padding: 0;
  }
}

.ul {
  display: flex;
  list-style-type: none;
}

.ul li {
  margin: 0.75em 0.75em 0.75em 0;
  cursor: pointer;
}
