.footer {
  background: #140f38;
  width: 100%;
  max-width: 1600px;
  color: white;
  padding: 2em;
  font-size: 0.9em;
}

.footer p {
  max-width: 35ch;
}

.footer h4 {
  font-size: 1.1em;
  margin: 0;
}
